<!DOCTYPE html>
<html ng-app="listaTelefonica">
<head>
    <title>Lista Telefonica</title>
    <script src="lib/angular-1.8.2/angular.js"></script>
    <link rel="stylesheet" type="text/css" href="lib/node_modules/bootstrap/dist/css/bootstrap.css">
    <style>
        .jumbotron {
            width: 400px;
			text-align: center;
			margin-top: 20px;
			margin-left: auto;
			margin-right: auto;
        }
        .table {
            margin-top: 20px;
        }
        .selecionado {
            background-color: yellow;
        }
        .negrito {
            font-weight: bold;
        }
    </style>
    <script>
        angular.module("listaTelefonica", []);
        angular.module("listaTelefonica").controller("listaTelefonicaCtrl", function ($scope) {
                $scope.app = "Lista Telefonica";
                $scope.contatos = [
                    {nome: "Bruno", telefone: "8598413-0948"},
                    {nome: "Isa", telefone: "8598431-6192"}, 
                    {nome: "Wal", telefone: "8598537-8404"} 
                ];
                $scope.operadoras = [
                    {nome:"oi", codigo: "14", categoria:"celular"},
                    {nome:"Vivo", codigo: "15", categoria:"celular"},
                    {nome:"Tim", codigo: "41", categoria:"celular"},
                    {nome:"GVT", codigo: "25", categoria:"Fixo"},
                    {nome:"Embratel", codigo: "21", categoria:"Fixo"}
                ];

                $scope.adicionarContato = function (contato) {
                    $scope.contatos.push(angular.copy(contato));
                    delete $scope.contato
                };
                $scope.apagarContatos = function (contatos) {
                   $scope.contatos = contatos.filter(function (contato) {
                        if (!contato.selecionado) return contato;
                    });
                };
        });
    </script>
</head>
<body ng-controller="listaTelefonicaCtrl">
    <div class="jumbotron">
        <h4>{{app}}</h4>
        <table class="table">
            <tr>
                <th></th>
                <th>Nome</th>
                <th>Telefone</th>
                <th>Operadora</th>
            </tr>
            <tr ng-class="{'selecionado negrito': contato.selecionado}" ng-repeat="contato in contatos">
                <td><input type="checkbox" ng-model="contato.selecionado"/></td>
                <td>{{contato.nome}}</td>
				<td>{{contato.telefone}}</td>
                <td>{{contato.operadora.nome}}</td>
			</tr>
        </table>
        <hr>
        <input class="form-control" type="text" ng-model="contato.nome" placeholder="Nome"/>
        <input class="form-control" type="text" ng-model="contato.telefone"placeholder="Telefone"/>
        <select class="form-control" ng-model="contato.operadora" ng-options="operadora.nome for operadora in operadoras">
            <option value="">Selecione uma operadora</option>
        </select>
        <button class="btn  btn-primary btn block" ng-click="adicionarContato(contato)" ng-disabled="!contato.nome || !contato.telefone">Adicionar Contato</button>
        <button class="btn-danger btn block" ng-click="apagarContatos(contatos)" ng-disabled="isContatoSelecionado">Apagar</button>
    </div>
</body>
</html>